nav {
    font-family: 'Staatliches', sans-serif;
}

main {
    background-image: url('../imgs/mainBG.jpg');
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: overlay;
}

#topCont {
    top: 3em; 
    border-color: #51f1a5;
    border-style: solid;
    border-width: 1rem;
    background-image: url('../imgs/heroBG.jpg');
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: overlay;
}

#Projects {
    top: 4em;
}

.conspar{
    background-color: white; 
    padding: 1em;
    border-color: #51f1a5;
    border-style: solid;
    border-width: 0.5rem;
    font-family: 'Lexend Deca', sans-serif;
}

.heroSub {
    background-color: #e9399f; 
    padding: 1em 3em 1em 0.5em; 
    position: relative; 
    left: 5em;
}

.heroButt {
    inset-inline-start: 50%;
    transform: translate(-30%);
}

.sectTitle {
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 2em;
    font-size: 1.5rem;
}

.projTitle{
    font-family: 'Staatliches', sans-serif;
}

.projDesc{
    font-family: 'Lexend Deca', sans-serif;
}

#Insights {
    top: 1em;
    margin-bottom: 6em;
}

.insightBlurb{
    max-width: 75%;
}

.blogCTA{
    top: 2em;
    background-color: #51f1a5;
    background-image: url('../imgs/cardboard.jpg');
    background-blend-mode: darken;
}

footer {
    padding-top: 10em;
    background-color: #131415; 
    font-family: 'Staatliches', sans-serif;
    color: #fff;
}